@charset "utf-8";

.first-view{
    height: 20vh;
    background-image: url(../z_images/z_common/z_common.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text{
    width: 100%;
    max-width: 1500px;
    text-align: center;
}

.main-text{
    padding-top: 30px;
}

.main-text h4{
    text-align: center;
    padding-bottom: 25px;
}

.main-text p{
    text-align: center;
    padding-bottom: 25px;
}

.tensen{
    text-align: center;
    padding-bottom: 25px;
}

.main-text dl{
    text-align: center;
    line-height: 25px;
    padding-top: 20px;
}

.lead{
    max-width: 1500px;
    margin: auto;
}

.link-button-area{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.link-button{
    background-color: #f4dd64;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
}

.link-button:hover{
    background-color: #d8b500;
}

@media (max-width: 800px) {
    .first-view{
        height: 15vh;
    }

    .tensen{
        font-size: 12px;
    }

    .main-text dl{
        text-align: initial;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
